@{
    string? profilePictureUrl = ViewBag.ProfilePictureUrl;
    string initial = ViewBag.Initial;
    int size = ViewBag.Size;
    string? cssClass = ViewBag.CssClass;
    string bgColor = ViewBag.BgColor;
    double fontRem = ViewBag.FontRem;
}
@if (!string.IsNullOrEmpty(profilePictureUrl))
{
    <img src="@profilePictureUrl" alt="" class="rounded-circle @cssClass" style="width: @(size)px; height: @(size)px; object-fit: cover;" />
}
else
{
    <div class="@bgColor rounded-circle d-flex align-items-center justify-content-center text-white @cssClass" style="width: @(size)px; height: @(size)px; font-size: @(fontRem)rem;">
        @initial
    </div>
}
